* { 
  box-sizing: border-box;
 
   }

.about-img {
     position: relative;
    /* display: inline;*/
      display: block;
      height: 180px;
      z-index: -99;
      border-radius: 50%;
      margin: 20px auto;
      float: none;
}


body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    width: 100%;
    position:relative;
   background-color: black;
}

main {
  display: block;
  overflow: hidden;
  width: 80%;
}

main h4 {
  text-align: center;
}

main p {
  text-align: center;
}

/*.carousel-inner {
  width: 50%;
}*/

.carousel-inner {
  margin-bottom: 10px;
  /*width: 500px;*/
}

.carousel-inner >.item > img {
  width: 100%;
  
  display: block;
  
}

.carousel-caption {
  left: 0;
  right:0;
  color: white;
  background: rgba(0,0,0,.5);
  width: 100%;
}

.carousel-control {
    width: 20%
}

  /*.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 0;  //or you can increase this
    margin-right: 0;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 0; //or you can increase this
  }*/


footer {
 /* vertical-align: middle;*/
  position: fixed;
  bottom: 0;
  padding: 2px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #E8DB7D;
  font-size: 15px;
  font-family: 'Baloo Tammudu', cursive;
  
}

footer .fa {
  display: block;
  width: 100%;
  text-align: left;
  padding: 2px;
  font-family: 'Baloo Tammudu', cursive;
}

hr {
  padding: 0;
  margin-top; 0;
}

div {
  margin-top: 1px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #191970;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.toprow-sidenav {
  margin-top: 20%;
  margin-left: 20%;
  height: 20px;
}

.toprow-sidenav a {
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#topNav {
   
    background-color: white;
    z-index: 1;

}

.social-media-top {
    position: absolute;
/*    top: 50%;*/
    display: inline;
    line-height: 5em;
    width: 100%;
    height: 100px;
    text-align: center;
}

.social-media-top p{
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
  display: none;
}

.toprow-sidenav a {
  margin-top: 10px;
  display: inline;
  width: 100%;
  border-radius: 1px solid white;
  text-align: center;
  margin-left: 10px;
}

.menu-text span{
  color: white;
  font-size:30px;
  cursor:pointer;
  color: black;
  line-height: 2em;
  text-align: center;
  float: right;
  line-height: 2.5em;
  margin-right: 5px;
}

.menu-text span:hover{
  font-weight: bold;
  text-decoration: underline;
  }

.menu-logo {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  display: inline;
  height: 60px;
  border: 3px solid black;
  border-radius: 50%;
}

.menu-logo:hover {
  opacity: .5;
}

.fa {
  padding: 10px;
  font-size: 60px;
  text-align: center;
  width: 40px;
  height: auto;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;

}

.vid-info img {
  display: none;
}

.avatar1 {
  margin: 5px; 
  display: inline-block;
  border-radius: 50%;
  width: 80px;
}

.about {
  top: 100%;
  position: absolute;
  color: white;
  background-color: rgba(0,0,0,.5);
  margin-top: 300px;
  /*display: none;*/
}

.about p {
  display: table;
  margin-right: 20px;
}

.about h4 {
  text-align: center;
}

.blog-section {
  display: none;
}

.panel {
  background-color: black;
  color: white;
}


@media only screen and (max-width: 600px) 
{
  .acronym {
      display: none;
    }
}

@media only screen and (min-width: 501px) 
  and (max-width: 767) {
    
    .acronym {
      display: none;
    }

    .video-foreground {
      height: 300px;

    }

    .video-background {
      top: -100px;

    }

    .vid-info { 
        width: 100%; 
        top: -50%;
        left:0;
        /*transform: translate(0,50%);*/
        padding: .5rem; 
      }

    .vid-info h1 { 
      margin-bottom: .2rem;
      font-size: 60px;
      }

      .acronym {
      display: none;
      }

    .social-media-top {
      left:0;
    }


  }

@media only screen and (max-width: 500px) {
 
  body {
   /* overflow-y: scroll;*/
    background-color: black;
  } 
    
    main {
    overflow-y: scroll;
    display: block;
    color: white;
    width: 100%;
    }

    main h4{
      text-align: center;
    }

      .acronym {
      display: none; 
      }

     .video-background {
      display: none;
     } 

     /*#vidtop-content {
      background-image: url("img/banner.jpg");
      background-size: contain;
     }*/

    .vid-info {  
        position: fixed; 
        width: 100%; 
        padding: .5rem;       
        top: 0%; 
        transform: translate(0,-50);
        background: rgba(0,0,0,0);

      }

    .vid-info h1 { 
      margin-top: 50px;
      font-size: 55px; 
      }

    .vid-info a { 
      display: none; 
      }

    .vid-info p { 
      display: none; 
      }

      .info-title {
        display: inline !important;
      }

    .vid-info img {
      display: inline;
      z-index:-99;
      }


    .social-media-top a {
      display: none;
    }

     .social-media-top p {
      display: inline;
    }


    .menu-logo {
      margin-top: 15px;
      height: 40px;
    }

    .avatar1 {
      display: inline;
      height: 40%;
      margin: 0 auto;
    }

    .about {
      display: inline;
      clear: both;
      overflow: auto;
      margin-top: 0;
      background-color: #008080;
    }

    .blog-section {
      display: inline;
    }

    .about-img {
      position: relative;
      display: block;
      height: 180px;
      z-index: -99;
      border-radius: 50%;
      margin: 20px auto;
      float: none;
      /*background-color: #008080;*/
    }
  
   }

   @media only screen and (max-width: 400px) {

    .social-media-top p{
      display: none;
    }

   }
